#wpbody-content h2 {
	font-weight: 400;
	color: #464646;
	font-size: 23px;
	line-height: 29px;
	padding: 9px 15px 4px 0;	
}

div .narrow {
	margin-bottom: 40px;
	width: 40%;
}

#wpbody {
	color: #333333;
	font-family: sans-serif;
    	font-size: 12px;
    	line-height: 1.4em;
    	min-width: 600px;
}

p.desc1 {
	padding: .5em;
	background-color: #4169e1;
	color: #fff;
	font-weight: bold;
}

div.errMsg {
	padding: .5em;
	background-color: #ff4500;
	color: #fff;
	font-weight: bold;
}

div.successMsg {
	padding: .5em;
	background-color: #4169E1;
	color: #fff;
	font-weight: bold;
}

#wpbody-content h3 {
	color: #464646;
	font-size: 18px;
	line-height: 29px;
}

#wpbody-content a {
	text-decoration: none;
}

div.updated {
    	background-color: #FFFFE0;
	border-color: #E6DB55;
	margin: 5px 15px 2px;
	padding: 0 0.6em;
}

#desc2 {
	text-align: left;
}
